<template>
  <v-card class="mr-4 mt-4" :max-width="cardWidth" outlined>
    <div :style="iconCircleStyle" v-if="item.loadNum >= compareTime">
      <font-awesome-icon
        class="flag-icon"
        color="white"
        :icon="['far', 'flag']"
      ></font-awesome-icon>
    </div>
    <v-list-item three-line>
      <v-list-item-content>
        <div class="overline mb-4">
          {{ date }} ({{ item.bookmarkCountFound }})
        </div>
        <v-list-item-title class="no-wrap underline-on-hover headline mb-1">
          <a :href="item.href" :style="linkStyle">{{ item.title }}</a>
        </v-list-item-title>
        <v-list-item-subtitle>{{ item.tags }}</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
  </v-card>
</template>

<script>
// "href":"https://www.applearchive.org/",
// "bookmarkCountFound":25,
// "loadNum":1579183237895,
// "tags":"apple, history, archive, advertising, marketing",
// "title":"The Apple Archive"
const longMonthNames = [
  'January',
  'February',
  'March',
  'April',
  'May',
  'June',
  'July',
  'August',
  'September',
  'October',
  'November',
  'December',
]

export default {
  name: 'PbnItem',
  props: ['item', 'compareTime'],
  data: () => ({
    linkStyle: {
      color: '#00838F', // cyan darken-3
    },
    iconCircleStyle: {
      position: 'absolute',
      top: '4px',
      right: '4px',

      width: '30px',
      height: '30px',
      borderRadius: '15px',

      backgroundColor: 'mediumseagreen',

      padding: '4px',
    },
  }),
  computed: {
    date: function() {
      const parts = new Date(this.item.loadNum)
      return (
        longMonthNames[parts.getMonth()] +
        ' ' +
        parts.getDate() +
        ', ' +
        parts.getFullYear()
      )
    },
    cardWidth: function() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': // < 600px
          return '90%'
        case 'sm': // 600px > < 960px
          return '45%'
        case 'md': // 960px > < 1264px* (* == -16px on desktop)
          return '45%'
        case 'lg': // 1264px* > < 1904px*
          return '22%'
        default:
          // > 1904px*
          return '16.66%'
      }
    },
  },
}
</script>

<style scoped>
.no-wrap > a {
  white-space: normal;
}

.underline-on-hover > a {
  text-decoration: none;
}

.underline-on-hover > a:hover {
  text-decoration: underline;
}

.flag-icon {
  margin-left: 3px;
}
</style>
