<template>
  <div class="pbn-outer-wrapper">
    <pbn-item
      v-for="(item, index) in dataElements"
      :key="index"
      :item="item"
      :compare-time="compareTime"
    >
    </pbn-item>
  </div>
</template>

<script>
import PbnItem from './PbnItem.vue'

export default {
  name: 'PbnOuterWrapper',
  props: ['compareTime', 'newFirst'],
  computed: {
    dataElements: function() {
      window.dataElements.sort((a, b) => {
        if (this.newFirst) {
          if (a.loadNum < this.compareTime && b.loadNum >= this.compareTime) {
            return 1
          }

          if (a.loadNum >= this.compareTime && b.loadNum < this.compareTime) {
            return -1
          }
        }

        if (a.bookmarkCountFound < b.bookmarkCountFound) {
          return 1
        }

        if (a.bookmarkCountFound > b.bookmarkCountFound) {
          return -1
        }

        if (a.title.toLowerCase() < b.title.toLowerCase()) {
          return -1
        }

        return 1
      })

      return window.dataElements
    },
  },
  components: {
    PbnItem,
  },
}
</script>

<style>
.pbn-outer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  background-color: #e1f5fe; /* light-blue lighten-5 */

  padding-bottom: 16px;
}
</style>
