<template>
  <v-app>
    <v-app-bar app color="cyan" dark>
      <div class="d-flex align-center">
        <h2>Pinboard Popular Pages</h2>
      </div>

      <v-spacer></v-spacer>

      <div class="d-flex align-center mr-4">
        <v-checkbox
          v-model="newFirst"
          label="Newest First"
          hide-details
        ></v-checkbox>
      </div>
    </v-app-bar>

    <v-content>
      <PbnOuterWrapper
        :compare-time="previousVisitTime"
        :new-first="newFirst"
      />
    </v-content>
  </v-app>
</template>

<script>
import Vue from 'vue'
import PbnOuterWrapper from './components/PbnOuterWrapper.vue'

export default {
  name: 'app',
  data: () => ({
    newFirst: false,
    lastUpdateTime: 0,
    lastVisitTime: 0,
    previousVisitTime: 0,
  }),
  created: function() {
    this.lastUpdateTime = Number(window.updatedAt)
    if (Vue.$cookies.isKey('last-visit')) {
      this.lastVisitTime = Number(Vue.$cookies.get('last-visit'))
      this.previousVisitTime = Number(Vue.$cookies.get('previous-visit'))
    } else {
      this.lastVisitTime = 0
      this.previousVisitTime = 0
    }
    if (this.lastUpdateTime > 0 && this.lastUpdateTime !== this.lastVisitTime) {
      this.previousVisitTime = this.lastVisitTime
      Vue.$cookies.set('previous-visit', this.lastVisitTime)
      Vue.$cookies.set('last-visit', this.lastUpdateTime)
    }
  },
  components: {
    PbnOuterWrapper,
  },
}
</script>

<style scoped>
h2 {
  line-height: 1.1;
}
</style>
